<!-- @format -->
<!-- @format -->
<%- contentFor("linkCss") %>
<link rel="stylesheet" href="/assets/css/detailproject.css" />

<%- contentFor("body") %>
<div class="container-detail">
    <div class="judul-detail">
        <h1 class="name-project">Dumbways Web App</h1>
    </div>
    <div class="header-detail">
        <div class="image-detail">
            <img src="/assets/image/download.jfif" alt="" class="image-project" />
        </div>
        <div class="other-detail">
            <div class="duration">
                <h2>Duration</h2>
                <div class="count-date">
                    <img src="https://img.icons8.com/?size=100&id=85951&format=png&color=000000"
                        alt="icon-calculator" />
                    <span>
                        <span class="start-date">12 jan 2021</span> -
                        <span class="end-date">11 Feb 2021</span></span>
                </div>
                <div class="count-duration">
                    <img src="https://img.icons8.com/?size=100&id=16153&format=png&color=000000" alt="icon-duration" />
                    <span> <span class="duration-project">1</span> month</span>
                </div>
            </div>
            <div class="technologis">
                <h2>Technologies</h2>
                <div class="icon-teknologi"></div>
            </div>
        </div>
    </div>
    <div class="body-detail">
        <p class="description-project"></p>
    </div>
</div>

<%- contentFor("linkJs") %>