<!-- @format -->
<%- contentFor("linkCss") %>
<link rel="stylesheet" href="../../assets/css/index.css" />

<%- contentFor("body") %>
<div class="parent-card">
    <div class="card-profile">
        <div class="left-card">
            <h1>Welcome To My Personal Web</h1>
            <p>
                Hallo, perkenalkan nama saya
                <strong>MUHAMMAD DAVA FAHREZA</strong> saya dari Provinsi Aceh saat ini saya berumur
                20 tahun dan saya adalah peserta bootcamp Fullstack developer dari dumbways di bacth
                56, dan saya sangat senang mengikuti program bootcamp fullstack developer karena
                banyak mentor yang berpengelaman dan berwawasan luas yang akan mengajari saya untuk
                menjadi seorang fullstack developer yang handal dan dapat bersaing di industri,
            </p>

            <div class="contact-container">
                <a href="contact" class="contact">contact me</a>
                <a href="/assets/pdf/my-cv.pdf" download="Muhammad-Dava-FAhreza" class="my-cv">
                    download my cv
                    <img
                        src="https://img.icons8.com/?size=100&id=hB6XkFbI9fP4&format=png&color=000000"
                        alt="unduh_CV_saya"
                        alt="unduh_image"
                        class="unduh-image" />
                </a>
            </div>

            <div class="social-media-container">
                <a
                    href="https://www.linkedin.com/in/muhammad-dava-589008241?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                    <img
                        src="https://img.icons8.com/?size=100&id=60444&format=png&color=000000"
                        alt="linkedin"
                        class="sm-icon" />
                </a>
                <a
                    href="https://www.instagram.com/muhammaddavafahreza?utm_source=qr&igsh=MXZjdjllenI2MW9hcw==">
                    <img
                        src="https://img.icons8.com/?size=100&id=dz63urxyxSdO&format=png&color=000000"
                        alt="instagram"
                        class="sm-icon" />
                </a>
                <a href="https://www.facebook.com/mhddava.fahreza?mibextid=ZbWKwL">
                    <img
                        src="https://img.icons8.com/?size=100&id=118466&format=png&color=000000"
                        alt="facebook"
                        class="sm-icon" />
                </a>
                <a href="https://x.com/mdavafahreza?t=UPpvDdPlcupPh3a-Ir9WXw&s=09">
                    <img
                        src="https://img.icons8.com/?size=100&id=bxZLggOb1L5G&format=png&color=000000"
                        alt="twitter"
                        class="sm-icon" />
                </a>
            </div>
        </div>
        <div class="right-card">
            <div class="card-image">
                <img src="/assets/image/profile.png" alt="profile" />
                <div class="container-teks-image">
                    <h1>Muhammad Dava Fahreza</h1>
                    <p>FullStack Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor("linkJs") %>
