body {
    background-color: #E3E7EB;
}

.parent-card {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.card-profile {
    display: flex;
    width: 90%;
    background-color: #FEFEFE;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 15px;
}

.left-card {
    padding: 50px;
    width: 60%;
}

.right-card {
    width: 40%;
}

.left-card p {
    line-height: 25px;
}

.left-card h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.left-card h1,
.left-card p {
    margin-bottom: 50px;
    text-align: justify;
}


/* .left-card p {
    margin-bottom: 20px;
} */

.card-profile img {
    width: 100%;
}


.card-image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.256);
    border: 0.01px solid rgba(0, 0, 0, 0.361);
}

.card-image img {
    background-color: #d8cecb95;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid #d8cecb76;
    filter: blur(10px);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;
}

.card-image img:hover {
    filter: blur(0px);
}

.card-image div {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    text-decoration: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

img.unduh-image {
    width: 30px;
}


/* a.contact-cv {} */

.contact-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.container-teks-image {
    text-align: center;
    font-size: 1vmax;
}

a.my-cv {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}

.social-media-container {
    display: flex;
    gap: 10px;
}

.social-media-container .sm-icon {
    width: 35px;
}

.container-teks-image {
    margin: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {

    .card-profile {
        border-radius: 0%;
    }

    .card-profile h1 {
        text-align: center;
    }


    .right-card {
        width: 100%;
    }

    .left-card {
        width: 100%;
    }

    .card-profile {
        flex-direction: column;
        margin: 0px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .left-card {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

}